/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.player1Cards, .player2Cards {
  display: flex;

}

.hide {
  display: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
